<ul class="thumbnails">
  {{#each selectedStates}}
    {{#view Radar.StateRowView classNames="jet-item" tagName="li"}}
    <div class="thumbnail">
      <div class="input-anchor">
        <div {{action unselect}} class="badge 
          badge-inverse
          close-badge"
          style="display:none;">
          &times;
        </div>
        <label>
          <div class="parent-node">{{unbound parent}}</div>
          <div><strong>{{unbound name}}</strong></div>
        </label>
        {{#if history.updateCount}}
          <div {{action toggleShowHistory target="view"}} class="badge badge-important
            history-badge">
            {{history.updateCount}}
          </div>
        {{/if}}    
        {{#unless schema.read_only}}
          {{#if refreshAvailable}}        
            <div {{action refreshInputView target="view"}} class="badge badge-inverse refresh-badge">
              <i class="icon-refresh icon-white"></i>
            </div>
          {{/if}}
          <div class="control-group">
            {{view view.JSONInputView viewName="inputView" isReadonlyBinding="schema.read_only"}}
            <button {{action changeState target="view"}} {{bindAttr class=":btn
            :btn-primary
            view.isDisabled:disabled"}}>
            <i class="icon-download icon-white"></i>
            </button>
          </div>
        {{/unless}}
      </div>
      {{#if view.errorString}}
        <div class="control-group error closable">
          {{view Radar.AutoHeightTextArea valueBinding="view.errorString"}}
          <a {{action hideErrorString target="view"}} class="close">&times;</a>
        </div>    
      {{/if}}
      {{#if view.showHistory}}    
        {{#each history.content}}    
          <label><i>{{date.day}}, {{date.time}}</i></label>
          {{view Radar.AutoHeightTextArea valueBinding="value"}}
        {{/each}}
      {{/if}}
    </div>
    {{/view}}
  {{/each}}
  {{#each controller.selectedMethods}}
    {{#view Radar.MethodRowView classNames="jet-item" tagName="li"}}    
    <div class="thumbnail">
      <div class="input-anchor">
        <div {{action unselect}} class="badge 
          badge-inverse
          close-badge"
          style="display:none;">
          &times;
        </div>
        <label>
          <div class="parent-node">{{unbound parent}}</div>
          <div><strong>{{unbound name}}</strong></div>
        </label>
        <div class="control-group">
          {{view view.JSONArrayInputView viewName="inputView" placeholder="[]"}}
          <button {{action callMethod target="view"}} {{bindAttr class=":btn 
            :btn-primary
            view.isDisabled:disabled"}}>
            <i class="icon-cog icon-white"></i>
          </button>
          {{#if view.result}}
            <div {{bindAttr class=":control-group :closable
              view.result.isSuccess:success 
              view.result.isError:error"}}>
              {{view Radar.AutoHeightTextArea valueBinding="view.result.jsonString"}}
              <a {{action hideResult target="view"}} class="close">&times;</a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/view}}
  {{/each}}
</ul>
