<div class="dropdown pull-right">
  <div data-toggle="dropdown" id="status-label" {{bindAttr class=":label view.labelType"}}>
    <h3 id="status-text">{{view.status}}</h3>
  </div>
  <ul class="dropdown-menu">
    <li>
      <table class="table table-condensed">
        <thead>
        </thead>
        <tbody>         
          {{#each view.last10Entries}}
          {{#view view.ItemView tagName="tr"}}
            <td><i class="{{unbound view.icon}}" title="{{unbound event}}"></i></td>
            <td>{{unbound path}}</td>
            <td title="{{unbound view.dateLong}}">{{unbound view.dateShort}}</td>
          {{/view}}
          {{/each}}
        </tbody>
      </table>
    </li>
  </ul>
</div>

