<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row">
        <a class="brand span3" href="#">
          <i class="icon-star icon-white"></i>
          Jet-Viewer {{version}}
        </a>
        <div class="btn-group span3 offset4" data-toggle="buttons-checkbox">
          <button {{action toggleShowTree}} class="btn btn-primary" id="jet-button-tree">Tree</button>
          <button {{action toggleShowSearch}} class="btn btn-primary" "jet-button-search">Search</button>
        </div>
        <span {{bindAttr class=":label labelType :pull-right"}}>
          <h3 id="status-text">{{status}}</h3>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  {{#if showSearch}}
  {{view JetViewer.SearchView}}
  {{/if}}
  {{#if showTree}}
  {{view JetViewer.TreeView}}
  {{/if}}
  {{view JetViewer.DashView}}  
</div>

