<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">
        <i class="icon-star icon-white"></i>
        Radar
      </a>
      {{view JetViewer.SearchView}}
      {{view JetViewer.TreeView tagName="ul" classNames="nav"}}
      <span {{bindAttr class=":label labelType :pull-right"}}>
        <h3 id="status-text">{{status}}</h3>
      </span>
    </div>
  </div>
</div>
<div class="container-fluid">  
  <div class="row-fluid">
    <div class="span12" id="dashx">
      {{view JetViewer.DashView}}  
    </div>
  </div>  
</div>

