<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" title="{{unbound version}}">
        <i id="traffic-icon" class="icon-star icon-white"></i>
        Radar
      </a>      
      {{view Radar.SearchView}}
      {{view Radar.TreeView tagName="ul" classNames="nav"}}      
      {{view Radar.LogView}}          
    </div>
  </div>
</div>
<div class="container-fluid">  
  <div class="row-fluid">
    <div class="span12" id="dash">
      {{view Radar.DashView}}  
    </div>
  </div>
</div>

