<form class="navbar-search pull-left dropdown">
  <div data-toggle="dropdown">
  {{view Ember.TextField valueBinding="searchExpression"
  classNames="search-query span2" placeholder="test.foo"}}
  </div>
  <ul class="dropdown-menu search-nav">
    <li>
      <a><i>all matches</i>
        <span class="buttons">
          <i class="unselect-all icon-star-empty" {{action "unselectAll"}}></i>
          <i class="select-all icon-star" {{action
             "selectAll"}}></i>
        </span>
      </a>
    </li>
    <li class="divider"></li>
    {{#each first20Matches}}    
    {{view Radar.LeafView itemBinding="this" tagName="li" displayNameBinding="path"}}
    {{/each}}    
    {{#if moreMatchesNumber}}
    <li class="divider"></li>
    <li>
      <a><i>{{moreMatchesNumber}} more matches</i>
      </a>
    </li>
    {{/if}}
  </ul>
</form>

