<a>
  <i {{action onIconClick}} {{bindAttr class="view.isLeaf:icon-leaf view.isNode:icon-folder-open"}}></i>
  <span {{action onNameClick}}>{{unbound view.displayName}}</span>
  <span class="buttons">    
    <i {{action toggleSelected}} {{bindAttr class="selected:icon-star selected::icon-star-empty :toggle-button"}}></i>
  </span>
</a>